@tailwind base;
@tailwind components;
@tailwind utilities;

/* css pattern on background */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(#81c04b .5px, #333 .05px);
  background-size: 21px 21px;
  z-index: -1;

  /* animation */
  animation: radial 1s linear infinite;

}